<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="text/html; UTF-8">
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <title>Add Category Form</title>
</head>
<body>
<div class="container">
    <h1>Add a new category</h1>
    <form action="#" th:action="@{/categories/add}" th:object="${category}" method="post">
        <!-- Name of the category -->
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" id="name" th:field="*{name}" class="form-control" placeholder="Enter category name" required />
        </div>

        <!-- Code of the category -->
        <div class="form-group">
            <label for="code">Code</label>
            <input type="text" id="code" th:field="*{code}" class="form-control" placeholder="Enter category code" required />
        </div>

        <!-- Submit and Reset buttons -->
        <div>
            <button type="submit" class="btn btn-primary">Add Category</button>
            <button type="reset" class="btn btn-secondary">Reset</button>
        </div>
    </form>
</div>
</body>
</html>
