<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/springsecurity5">
<head th:replace="fragments/layout :: head">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <title id="pageTitle">Category Details</title>
</head>
<body>
<nav th:replace="fragments/layout :: nav"></nav>
<div class="container">
    <h1>Category Details</h1>
    <p>
    <table class="table table-striped table-bordered" th:object="${category}">
        <thead>
        <tr>
            <th>Property</th>
            <th>Value</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>Id</td>
            <td th:text="*{id}"></td>
        </tr>
        <tr>
            <td>Name</td>
            <td th:text="*{name}"></td> <!-- Wyświetlenie nazwy kategorii -->
        </tr>
        <tr>
            <td>Code</td>
            <td th:text="*{code}"></td> <!-- Wyświetlenie kodu kategorii -->
        </tr>
        </tbody>
    </table>
    </p>
    <a class="btn btn-primary" href="/categories/">Back to Categories List</a> <!-- Przycisk powrotu do listy kategorii -->
</div>
</body>
</html>
